nav {
    background-color: #0270BD;
}

nav a {
    color: #ffffff;
}

.btn-nav {
    color: #ffffff;
    border-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}

.fixed-bottom h6 {
    color: #ffffff;
    margin-top: 10px;
}


.btn-secondary{
    color: #ffffff;
    background-color: #0270BD;
        border-color: #0270BD;
}

