<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link href="/static/login.css" rel="stylesheet">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/static/signup.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="/static/carousel.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/base.css">
        <link rel="stylesheet" href="/static/stars.css"/>

        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% block nav %}
    <header>
        <nav class="navbar navbar-expand-md fixed-top">
            <a href="/">
                <img src="/static/hangout-logo-2019.png" height="51" width="175" alt="logo"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="navbar-left">
                        <li class="nav-item">
                            <a href="/findpeople" class="nav-link">Find People</a>
                        </li>
                        <li class="nav-item">
                            <a href="/review" class="nav-link">Review</a>
                        </li>
                        <li class="nav-item">
                            <a href="/history" class="nav-link">History</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ml-auto" id="navbar-right">
                        <li class="nav-item dropdown" id="profile">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Profile</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="/settings" class="dropdown-item">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a href="/logout" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert"
                     style="margin-top: 18px;margin-bottom: 0">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}
    </header>
{% endblock %}
<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>