{% extends "base.html" %}
{% block title %}Find people{% endblock %}
{% block content %}
    <main role="main">
        <div class="results">
            <div class="card" style="max-width: 200px;max-height: 450px">
                <img class="card-img-top" width="250" height="200" src="https://via.placeholder.com/250"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ahmad Hosni</h5>
                    <p class="card-text">Football tennis and basketball</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </main>
    <style>
        .card {
            float: left;
            margin-left: 35px;
            margin-right: 35px;
            margin-bottom: 35px;
        }
    .results{
        margin-left: 6%;
        margin-top: 50px;
        width: 90%;
    }
    </style>
{% endblock %}


