{% extends "base.html" %}
{% block title %}Find people{% endblock %}
{% block content %}
    <main role="main">
        <table class="table table-hover" style="margin-top: 20px;">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td><button>More Info</button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td><button>More Info</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td><button>More Info</button></td>
            </tr>
            </tbody>
        </table>
    </main>
{% endblock %}


