{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block nav %}
    <header>
        <nav class="navbar navbar-expand-md fixed-top">
            <a href="/">
                <img src="/static/hangout-logo-2019.png" height="51" width="175" alt="logo"/>
            </a>
            <ul class="nav navbar-nav ml-auto" id="navbar-right">
                <button class="btn btn-nav my-2 my-sm-0" onclick="location.href='/signin'">Sign in</button>
                <button class="btn btn-nav my-2 my-sm-0" onclick="location.href='/signup'">Sign up</button>
            </ul>
        </nav>
    </header>
{% endblock %}
{% block content %}
    <main role="main">
        <div class="signin-form">
            <form action="/signup" method="post" enctype="multipart/form-data">
                <h2>Sign up</h2>
                <h5>sign in info</h5>
                {% for error in errors %}
                    <h5 id="errors" style="color:red;">* {{ error }}</h5>
                {% endfor %}
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="username" placeholder="Username"
                           required="required"
                           autocomplete="off" onchange="checkuser(this.value)">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-lg" name="email" placeholder="Email"
                           required="required"
                           autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" name="password" placeholder="Password"
                           required="required" onchange="checkpass()"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" name="confpassword"
                           placeholder="Confrim Password"
                           required="required" onchange="checkpass()"/>
                </div>
                <div class="form-group">
                    <label>Please select a profile photo</label>
                    <input type="file" class="btn btn-lg btn-block" name="profile_photo"
                           style="margin-top: 5px;border: 1px solid #ccc;" accept=".jpg,.png,.jpeg"/>
                </div>
                <div class="form-group">
                    <button type="submit" onclick="checksub()" id="signupbtn"
                            class="btn-zenon btn-lg btn-block signup-btn">
                        Go to step 2
                    </button>
                </div>
                <div class="text-center small">Already have an account? <a href="/signin">Sign in</a></div>
            </form>
        </div>
    </main>

{% endblock %}


